<%= content_for :head do %>
  <%= javascript_tag do -%>
      <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <% end -%>
<% end %>

<div id='card_notice'></div>

<% if @cards.present? %>
  <div id="card_options">
  <%= radio_button_tag 'use_existing_card', 'yes', true %>
  <label>Use an existing card on file</label>
  <br/>
  <%= radio_button_tag 'use_existing_card', 'no' %>
  <label>Use a new card</label>
  </div>

<div id="existing_cards">
  <script>
    var original_button_text;
    $(document).ready(function () {
      $("[data-hook=card_number]").hide();
      $("[data-hook=card_expiration]").hide();
      $("[data-hook=cart_code]").hide(); // unfortunately this is a typo in spree (cart v card)

      $(".form-buttons input[type=submit]").attr('disabled',true);

      // in the unusual event of having two different credit card providers on the page, check
      // to see if we've already saved the inital value
      if ($.type(original_button_text) === "undefined") {
        original_button_text=$(".form-buttons input[type=submit]").val();
      }
      $(".form-buttons input[type=submit]").val('<%= t(:please_select_a_card_to_use) %>');

    });
  </script>

  <p class="field" data-hook="existing_cards">
    <h4>Existing Cards</h4>
    <table class="existing-credit-card-list">
      <thead>
        <tr>
          <th>Card Number (last four)</th>
          <th>Expiration Month</th>
          <th>Expiration Year</th>
          <th>Use?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cards.each do |card| %>
          <tr id="<%= dom_id(card)%>" class="<%= cycle('even', 'odd') %>">
            <td><%= card.last_digits %></td>
            <td><%= card.month %></td>
            <td><%= card.year %></td>
            <td><%= radio_button_tag "existing_card", card.id %></td>
            <%# passing in an explicit 'url' here let's us make use of this 'admin' helper and bypass the object_url %>
            <%# (from resource_controller) that is embedded in the helper %>
            <td><%# link_to_delete card, {:url => main_app.credit_card_url(card)} %></td>
            <!-- #{param_prefix} -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
</div> <!-- existing_cards -->

<% end %>



